extends ../_templates/_main.jade

.main-wrapper
	block watermark
		.watermark-wrapper.clearfix
			include ../_includes/_image-block/_image-block.jade
			include ../_includes/_form-block/_form-block.jade

block footer
	include ../_includes/_footer/_footer.jade