doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title WATERMARK
		meta(name="viewport" content="width=980, initial-scale=1.0")
		link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
		link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css')
		link(rel="stylesheet", href="bower/normalize-css/normalize.css")
		link(rel="stylesheet", href="css/main.css")
		script(src="bower/modernizr/modernizr.js")
	body
		block watermark
		block footer